.section {
  background-color: aliceblue;
  color: rgb(3, 0, 61);
  .container {
    img {
      width: 400px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 250px;
    margin: 0 auto;
    max-width: 1200px;
    .text {
      img {
        width: 300px;
      }
    }
  }
}
