footer {
  color: rgb(3, 0, 61);
  background-color: aliceblue;
  .container {
    margin: 0 auto;
    max-width: 1200px;
    .top {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      .ul {
        ul {
          display: flex;
          column-gap: 20px;
          list-style: none;
          li {
            a {
              color: rgb(3, 0, 61);
              text-decoration: none;
            }
          }
        }
      }

      h5 {
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
    .imgs {
      display: flex;
      column-gap: 40px;
      justify-content: center;
      .img1 {
        width: 60px;
      }
      .img2 {
        width: 80px;
      }
    }
  }
  .bottom {
    padding: 20px 0;
    text-align: center;
  }
}
